body {
    box-sizing: border-box;
    height: 100vh;
}

.page-container {
    display: flex;
    height: 100%;
}

.container {
    width: 1200px;
}

label, p, h2, a {
    font-family: Tahoma, Geneva, sans-serif;
    
}

label, p {
    font-size: .9em;
}

h2 {
    font-size: 1.5em;
    margin: .5em auto;
}

a {
    text-decoration: none;
    color: darkviolet
}

.carousel {
    background-color: darkgrey;
    padding-top: 20px;
}

.carousel .bigimg, .carousel .arrow-left, .carousel .arrow-right, .carousel .thumb-wrapper {
    cursor: pointer;
}

.carousel .bigimg {
    margin: 0 auto;
    width: 700px;
    height: 394px; /* Border doesn't play nice if this is set to 400 */
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.carousel .bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 10px 0;
    background-color: gainsboro;
}

.carousel .slideshow {
    display: flex;
    justify-content: space-evenly;
    min-height: 0;
    min-width: 0;
    flex-shrink: 2;
}

.carousel .thumb {
    max-height: 95%;
    max-width: 95%;
    padding: 3px;
    min-height: 0;
    min-width: 0;
}

.carousel .thumb-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    background-color: white;
    opacity: 0.5;
    min-height: 0;
    min-width: 0;
    max-height: 170px;
    max-width: 240px;
}

.thumb-wrapper span {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    margin: 5px 0px;
}

.carousel .selected-thumb {
    opacity: 1;
}

.carousel .arrow-left, .carousel .arrow-right {
    min-width: 65px;
    min-height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid black;
    background-color: rgb(255, 176, 72);
    margin: 0 5px;
}

.carousel .arrow-right {
    background-image: url(img/arrow-right.svg);
}

.carousel .arrow-left {
    background-image: url(img/arrow-left.svg);
}

.arrow-left-placeholder, .arrow-right-placeholder {
    min-width: 69px;
    min-height: 39px;
    margin: 0 5px;
}

.carousel-form {
    align-self: center;
    margin-left: 2em;
    background-color: lightsteelblue;
    padding-left: 5px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.carousel-form span {
    font-weight: bold;
}

#credit {
    position: absolute;
    bottom: 3px;
    right: 3px;
    /* padding-top: 5px; */
    margin: 0;
}